<div class="container min-h-screen mt-20">
  <div class="flex flex-row p-20">
    <div class="flex-1">
      <h1 class="text-7xl font-sans font-bold text-end mr-48">Our Blogs</h1>
    </div>
    <div class="flex flex-row justify-end">
      <h2 class="mx-4 mt-2">Filter Blogs By Category</h2>
      <div class="dropdown dropdown-hover">
        <div role="button" class="btn ml-1 shadow-2xl border border-black">
          Choose Category
        </div>
        <ul
          class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
        >
          <li><a>Food</a></li>
          <li><a>Politics</a></li>
          <li><a>Travel</a></li>
          <li><a>Gaming</a></li>
          <li><a>Technology</a></li>
          <li><a>Gadgets</a></li>
          <li><a>Random Blogs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <app-blogcard [blogs]="allBlogs"></app-blogcard>
</div>
