<div class="container p-4">
  <div class="hero min-h-screen -mt-36">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hello {{ "{Name}" }}</h1>
        <h1 class="text-3xl my-2 font-semibold">Welcome! to the Blogs World</h1>
        <p class="py-6">
          Here you will find thee blogs related to different topics and you can
          explore like what's going on around you or the globe.
        </p>
        <button class="btn btn-primary" (click)="AllBlogs()">
          Explore Blogs World!
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col -mt-36">
    <h2 class="text-3xl font-bold text-center items-center">Featured Blogs</h2>
    <div class="flex flex-wrap ml-12">
      <div class="w-3/12">
        <div class="card bg-base-100 w-80 shadow-xl">
          <figure>
            <img
              src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <div
              class="content"
              class="text-ellipsis overflow-hidden"
              style="max-width: 10ch"
            >
              <h2 class="card-title">
                Shoes!
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ratione vitae, suscipit magnam ullam enim rem. Eaque ex facilis
                soluta adipisci, blanditiis vitae, consectetur aut
                exercitationem fugit temporibus quam amet libero nemo? Magni ea
                nihil, unde culpa enim excepturi corrupti dolore?
              </p>
            </div>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-3/12">
        <div class="card bg-base-100 w-80 shadow-xl">
          <figure>
            <img
              src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Shoes!
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-3/12">
        <div class="card bg-base-100 w-80 shadow-xl">
          <figure>
            <img
              src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Shoes!
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-3/12">
        <div class="card bg-base-100 w-80 shadow-xl">
          <figure>
            <img
              src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              Shoes!
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
