<div class="container p-4">
  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hello {{ "{Name}" }}</h1>
        <h1 class="text-3xl my-2 font-semibold">Welcome! to the Blogs World</h1>
        <p class="py-6">
          Here you will find thee blogs related to different topics and you can
          explore like what's going on around you or the globe.
        </p>
        <button class="btn btn-primary" (click)="allBlogs()">
          Explore Blogs World!
        </button>
      </div>
    </div>
  </div>
  @if(featuredBlogs.length > 0){
  <div class="featured-container w-full">
    <h1 class="font-sans font-bold text-4xl text-center">Featured Blogs</h1>
    <app-blogcard [blogs]="featuredBlogs"></app-blogcard>
  </div>
  }
</div>
