<div class="min-h-screen mt-20">
  <div class="px-20 flex">
    <div class="h-96 mb-10 mt-52">
      <img
        class="h-full"
        src="https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg?cs=srgb&dl=pexels-pixabay-262508.jpg&fm=jpg"
        alt=""
      />
    </div>
    <div class="w-full p-10">
      <h1
        class="text-center font-sans font-bold text-4xl bg bg-slate-50 p-2 shadow-2xl"
      >
        {{ blog.title | uppercase }}
      </h1>
      <h3 class="text-center text-2xl font-semibold font-sans p-5">
        {{ blog.description }}
      </h3>
      <hr />
      <h5 class="mt-10">{{ blog.content }}</h5>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nostrum
        expedita ipsam porro a officiis. Enim libero aut labore totam nam
        numquam dicta laudantium. Quos, illum aut vitae amet perferendis
        suscipit voluptate pariatur ex laborum voluptates consequuntur, saepe
        ipsa voluptatum obcaecati aliquam molestiae sed accusamus at soluta nam
        enim esse! Assumenda pariatur temporibus quos beatae dolor, tempore sint
        aliquid illo mollitia necessitatibus debitis, voluptate sunt numquam
        alias molestias facilis? Animi, inventore dolores illo facere suscipit
        aspernatur laboriosam ullam molestiae autem architecto exercitationem
        eaque minus, ipsa natus quasi quis quaerat alias asperiores dolorum
        officiis doloremque assumenda. Maiores, eos, fuga temporibus
        praesentium, excepturi ea nulla inventore natus suscipit iure quas
        repudiandae cupiditate mollitia quisquam eius voluptatum iusto ex
        consequatur deserunt voluptas harum possimus accusantium iste! Neque
        totam, nihil unde est ad alias voluptas quod libero, eos qui id! Vero
        ratione ad cum, exercitationem quas recusandae quam earum ab adipisci
        obcaecati placeat, veritatis dolorem odio. Soluta culpa numquam incidunt
        cumque voluptatem, nulla nihil molestiae! Ipsa adipisci ut expedita vel
        labore veritatis voluptates unde modi qui nesciunt. Hic provident
        quaerat eos error, iure maiores reiciendis voluptatem explicabo ad nulla
        animi expedita ea, architecto nobis, at quasi mollitia quam sed minima
        accusantium. Perferendis, dolorum quaerat. Ipsa a maxime doloribus dicta
        similique ut harum quibusdam tenetur odit in maiores nam omnis corporis
        aperiam perferendis eligendi facere magni, veritatis totam et molestiae
        delectus eaque. Non adipisci nam eius rerum error provident iste
        voluptatibus alias est suscipit delectus, tempora possimus veniam
        voluptas quaerat accusamus quod atque quas pariatur ex numquam impedit?
        Dolores, blanditiis! Asperiores voluptatum temporibus cumque modi vel,
        laboriosam, ratione ipsum repellendus neque minus cupiditate earum, at
        perferendis repellat non rerum pariatur deleniti dignissimos obcaecati?
        Non aperiam officiis aliquid officia, impedit at ea, dolores tempore
        facilis velit libero nam sequi saepe, voluptate voluptas. Veritatis
        aperiam sequi voluptas.
      </h5>
    </div>
  </div>
</div>
