<div class="container min-h-screen mt-20 px-20">
  <h1 class="text-center text-4xl font-sans">Send Whatsapp Message</h1>
  <div class="w-56 flex flex-row ml-96">
    <form #messageForm="ngForm" (submit)="handleSubmit(messageForm)">
      <input
        type="number"
        required="required"
        placeholder="Type here"
        class="input input-bordered w-full max-w-xs mt-5"
        maxlength="12"
        [(ngModel)]="number"
        name="number"
      />
      <textarea
        class="textarea textarea-accent p-2 mt-5"
        required
        placeholder="Message here.."
        [(ngModel)]="message"
        name="message"
      ></textarea>
      <button type="submit" class="mx-10 p-2 btn btn-outline btn-primary">
        Send
      </button>
    </form>
  </div>
</div>
